@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body.dark {
  /* Dark mode styles */
  background-color: #1a202c;
  color: #fff;
}

body.light {
  /* Light mode styles */
  background-color: #fff;
  color: #000;
}

.hover-cell {
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Dark theme styles for the hover effect */
.dark-theme:hover {
  background-color: #1a202c; /* Change to your dark theme color */
}

/* Light theme styles for the hover effect */
.light-theme:hover {
  background-color: #dddcdc; /* Change to your light theme color */
}